extends layout
block content
    h2 User Detail
    h3 #{user.name}

    h3 Followers:
    p There are #{user.followers.length} followers:
    if user.followers.length
        ol
            each follower in user.followers
                li #{follower.name} followed #{user.name}
    else
        p No followers

    h3 Followings:
    p There are #{user.following.length} following:
    if user.following.length
        ol
            each followingCurrent in user.following
                li #{user.name} followed #{followingCurrent.name}
    else
        p No followings

    h3 Tweets:
    p There are #{user.tweets.length} tweets.

    if user.tweets.length
        ol
            each tweet in user.tweets
                ul #{tweet.body}
                ul #{tweet.createdAt}
                br
    else
        p No tweets